<div style="margin:0; padding:0; font-family:Arial; width:100%; height: 1100px; font-size: 12px;">
	<table cellspacing="0" cellpadding="0" width="640" border="0" style="font-family:Arial; font-size:12px; color:white; margin: 0 auto;">
		<!-- Header Background colour are all in hex-->
		<tr>
			<td colspan="2" height="100" width="640" style="background-color:#a0ad36">
				<!-- SRC points to the img -->
				<!-- Alt is the text that will be displayed -->
				<img src="http://www.femcare-nikomed.co.uk/images/eshot/top_banner.jpg" height="100" width="640" border="0" style="display:block" alt="Femcare-Nikomed Urology Range" />
			</td>
		</tr>
		<!-- Middle -->
		<tr>
			<!-- Left Background colour for the whole blue side -->
			<td width="200" style="vertical-align:top; background-color:#1b3f71">
				<table cellspacing="0" cellpadding="0" width="200" border="0" style="font-family:Arial; font-size:12px; color:white; vertical-align:top">
					<!-- This is required to have a set height due to being an image -->
					<tr>
						<!-- The fancy bit where the date is included -->
						<td colspan="2" width="200" height="50">
								<img src="http://www.femcare-nikomed.co.uk/images/eshot/blue_green_img.jpg" height="50" width="200" border="0" style="display:block; border-style:none" alt="May 2013" />
						</td>
					</tr>
					<!-- Padding between image and left hand content -->
					<tr>
						<td colspan="2" height="50"></td>
					</tr>
					<!-- Dear customer image -->
					<tr>
						<td width="10"></td>
						<td width="190">
							<!-- Change height and width for dear_customer -->
							<img src="http://www.femcare-nikomed.co.uk/images/eshot/Dear_Customer.jpg" height="18" width="120" border="0" style="display:block; border-style:none"/>
						</td>
					</tr>
					<!-- Buffer Row - use this to put spacing between text. Colspan is required -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<tr>
						<td width="10"></td>
						<td width="190">
The Femcare-Nikomed urology products are designed with functionality, efficiency and convenience in mind. . .
						</td>
					</tr>
					<!-- Buffer Row - use this to put spacing between text. Colspan is required -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- First Heading -->
					<tr>
						<td width="10"></td>
						<td width="190">
							<table cellspacing="0" cellpadding="0" width="190" border="0" style="font-family:Arial; font-size:12px; color:#F25200;">
								<tr>
									<td width="12">
										<!-- Arrow Height and width can be changed -->
										<img src="http://www.femcare-nikomed.co.uk/images/eshot/blue_arrow_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
									</td>
									<td><b>LASER FIBRES:</b></td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- First Header - First Paragraph -->
					<tr>
						<td width="10"></td>
						<td width="190">
Available as either reusable or single patient use, the Femcare-Nikomed Laser Fibres are fitted with a SMA-905 adaptor to fit most Laser Generators. With a range covering 200, 365, 550 and 1,000 microns for the disposable fibres and 200, 365, 550 microns for the resuable fibres, we have your needs covered. We also offer the Laser Goggles for added safety and convenience.
						</td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- Second Header -->
					<tr>
						<td width="10"></td>
						<td width="190">
							<table cellspacing="0" cellpadding="0" width="190" border="0" style="font-family:Arial; font-size:12px; color:#F25200;">
								<tr>
									<td width="12">
										<!-- Arrow Height and width can be changed -->
										<img src="http://www.femcare-nikomed.co.uk/images/eshot/blue_arrow_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
									</td>
									<td><b>PATHFINDER PLUS:</b></td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- Second Header - First Paragraph -->
					<tr>
						<td width="10"></td>
						<td width="190">
The latest addition to our urology range is Pathfinder Plus, a surgeon controlled ureteroscopic irrigation system. An elegantly simple irrigation device that provides greater accuracy and enhanced visualisation during delicate endoscopic procedures.
						</td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- Third Header -->
					<tr>
						<td width="10"></td>
						<td width="190">
							<table cellspacing="0" cellpadding="0" width="190" border="0" style="font-family:Arial; font-size:12px; color:#F25200;">
								<tr>
									<td width="12">
										<!-- Arrow Height and width can be changed -->
										<img src="http://www.femcare-nikomed.co.uk/images/eshot/blue_arrow_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
									</td>
									<td height="18"><b>LAWRENCE ADD-A-CATH:</b></td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- Third Row - First Paragraph -->
					<tr>
						<td width="10"></td>
						<td width="190">
Finally, the tried and tested <br/> Add-a-Cath Suprapubic Catheter Introducer, is recognised as an effective method of bladder drainage that causes fewer complications than urethral catheterisation.
						</td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- Third Row - Second Paragraph -->
					<tr>
						<td width="10"></td>
						<td width="190">
For further information on how Femcare-Nikomed can assist you with your future requirements or to arrange a sample/product demonstration please contact our Customer Service Team on the number below, quoting reference URL-052013:-
						</td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- Telephone -->
					<tr>
						<td width="10"></td>
						<td width="190"><a href="#" style="color:white; text-decoration: none; font-weight: bold;">Tel: +44 (0)1794 525100</a></td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<tr>
						<td width="10"></td>
						<td width="190"><a style="color:white; text-decoration: none; font-weight:bold;" href="mailto:enquiries@femcare-nikomed.co.uk" enctype="text/plain">Email: enquiries@femcare-nikomed.co.uk</a></td>
					</tr>
					<!-- Buffer Row -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
					<!-- Manager Image -->
					<tr>
						<td width="10"></td>
						<!-- Change src if need -->
						<td width="190"><img src="http://www.femcare-nikomed.co.uk/images/eshot/Julie_Thornley.jpg" height="26" width="126" border="0" style="display:block; border-style:none"/></td>
					</tr>
					<tr>
						<td height="2" colspan="2"></td>
					</tr>
					<tr>
						<td width="10"></td>
						<td width="190" style="font-size:10px">Product Marketing Manager</td>
					</tr>
					<tr>
						<td width="10"></td>
						<td width="190" style="font-size:10px">Femcare-Nikomed Ltd</td>
					</tr>
					<!-- Buffer -->
					<tr>
						<td height="10" colspan="2"></td>
					</tr>
				</table>
			</td>
			<!-- Right -->
			<td width="440" style="vertical-align:top">
				<table cellspacing="0" cellpadding="0" width="440" border="0" style="font-family:Arial; font-size:12px">
					<!-- Logo Section -->
					<tr>
						<td height="140" width="440">
							<table cellspacing="0" cellpadding="0" height="140" width="440" border="0" style="font-family:Arial; font-size:12px">
								<tr>
									<!-- Left -->
									<!-- Buffer -->
									<td width="20" height="100"></td>
									<!-- Logo -->
									<td width="200" height="100">
										<img src="http://www.femcare-nikomed.co.uk/images/eshot/F_N_Logo.jpg" height="100" width="200" border="0" style="display:block; border-style:none"/>
									</td>
									<!-- Buffer -->
									<td width="21" height="100"></td>
									<!-- Right -->
									<!-- Buffer -->
									<td rowspan="5" width="10" style="background-color:#1b3f71"></td>
									<!-- Right Text -->
									<!-- <br/> pushes text to a new line -->
									<td rowspan="5" style="background-color:#1b3f71; font-size:22px; color:#F25200; font-weight:bold;">
										<div>Power, </div> 
										<div>Safety and </div>
										<div>Control at your </div>
										<div>fingertips . . .</div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td height="10" width="200"></td>
									<td></td>
								</tr>
								<!-- Location First Line -->
								<tr>
									<td></td>
									<td width="200" height="10" style="text-align:center; font-size:8px; color: black;">Stuart Court, Spursholt Place, Salisbury Road,</td>
									<td></td>
								</tr>
								<!-- Location Second Line -->
								<tr>
									<td></td>
									<td width="200" height="10" style="text-align:center; font-size:8px; color:black;">Romsey, Hampshire, SO51 6DJ</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td height="10" width="200"></td>
									<td></td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- Content -->
					<!-- Buffer this makes space the extra space-->
					<tr>
						<td height="10"></td>
					</tr>
					<!-- First section -->
					<tr>
						<td width="440">
								<table cellspacing="0" cellpadding="0" width="440" border="0" style="font-family:Arial; font-size:12px">
								<!-- Power and link -->
								<tr>
									<td height="70" width="10"></td>
									<td height="70" colspan="2">
										<table cellspacing="0" cellpadding="0" height="50" border="0" style="font-family:Arial; font-size:12px">
											<tr>
												<td width="140">
													<!-- Power logo -->
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/Power.jpg" height="70" width="140" border="0" style="display:block; border-style:none"/>
												</td>
												<!-- To make text bigger change font size -->
												<td width="300">
													<!-- Change the href to make a link -->
													<!-- Anything inside the a tag is a link -->
													<a href="http://www.femcare-nikomed.co.uk/admin/products/files/BRO-0072%20%2803-11%29%20V2%20Holmium%20Lasers.pdf" style="font-size:10px">KEY BENEFITS OF THE HOLMIUM LASER FIBRES</a> . . .
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<!-- content -->
								<tr>
									<td width="8"></td>
									<td width="330">
										<!-- POWER content-->
										<table cellspacing="0" cellpadding="1" width="330" border="0" style="font-family:Arial; font-size:12px; color:black; vertical-align: top">
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Holmium and Nd: YAG laser compatibility.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Available with both SMA-905 and Trimedyne connectors; disposable and resuable options.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Variety of Sizes: Available in 200, 365, 550, and 1000 micron diameter fibres.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Excellent Fibre Integrity; reliable power delivery during management of lower pole stones.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Flat hand-polished free beam tip, resulting in accurate beam delivery.</td>
											</tr>
										</table>
									</td>
									<td height="160" width="100">
										<img src="http://www.femcare-nikomed.co.uk/images/eshot/kidney.jpg" height="160" width="100" border="0" style="display:block; border-style:none"/>
									</td>
								</tr>
								<!-- product link -->
								<tr>
									<td height="20" colspan="3" style="text-align:right; font-size:10px">
										<!-- Change href to link to something -->
										. . . <a href="http://www.femcare-nikomed.co.uk/admin/products/files/BRO-0072%20%2803-11%29%20V2%20Holmium%20Lasers.pdf">Click Here To View Product Literature</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- SECOND -->
					<tr>
						<td width="440">
								<table cellspacing="0" cellpadding="1" width="440" border="0" style="font-family:Arial; font-size:12px">
								<!-- title -->
								<tr><td height="10" colspan="2"></td></tr>
								<tr>
									<td height="70" width="10"></td>
									<td height="70" colspan="2">
										<table cellspacing="0" cellpadding="0" height="50" border="0" style="font-family:Arial; font-size:12px">
											<tr>
												<td width="140">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/Safety.jpg" height="70" width="140" border="0" style="display:block; border-style:none"/>
												</td>
												<td width="300"><a href="http://www.femcare-nikomed.co.uk/admin/products/files/BRO-0072%20%2803-11%29%20V2%20Holmium%20Lasers.pdf" style="font-weigth:bold; font-size:10px">KEY BENEFITS OF THE LAWRENCE ADD-A-CATH SUPRAPUBIC CATHETER INTRODUCER</a> . . .</td>
											</tr>
										</table>
									</td>
								</tr>
								<!-- content -->
								<tr><td height="10" colspan="2"></td></tr>
								<tr>
									<td width="8"></td>
									<td width="270">
										<!-- SAFETY -->
										<table cellspacing="0" cellpadding="1" width="270" border="0" style="font-family:Arial; font-size:12px; color:black; vertical-align: top">
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Trocar provides smooth controlled entry to abdomen causing minimal trauma.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Easy balloon catheter placement; no suture or external fixation required reducing the risk of infection.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Trouble free drainage for increased patient comfort.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Accommodates catheter sizes 12CH to 18CH.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Kit options also available.</td>
											</tr>
										</table>
									</td>
									<td height="100" width="160"><img src="http://www.femcare-nikomed.co.uk/images/eshot/AAC_kit.jpg" height="100" width="160" border="0" style="display:block; border-style:none"/></td>
								</tr>
								<!-- product link -->
								<tr>
									<td height="20" colspan="3" style="text-align:right; font-size:10px">. . . <a href="http://www.femcare-nikomed.co.uk/admin/products/files/BRO-0072%20%2803-11%29%20V2%20Holmium%20Lasers.pdf">Click Here To View Product Literature</a></td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- THIRD -->
<tr>
						<td width="440">
								<table cellspacing="0" cellpadding="1" height="250" width="440" border="0" style="font-family:Arial; font-size:12px">
								<!-- title -->
								<tr><td height="10" colspan="2"></td></tr>
								<tr>
									<td height="70" width="10"></td>
									<td height="70" colspan="2">
										<table cellspacing="0" cellpadding="0" height="50" border="0" style="font-family:Arial; font-size:12px">
											<tr>
												<td width="140">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/Control.jpg" height="70" width="140" border="0" style="display:block; border-style:none"/>
												</td>
												<td width="300"><a href="http://www.femcare-nikomed.co.uk/admin/products/files/58023.pdf" style="font-weigth:bold; font-size:10px">KEY BENEFITS OF THE PATHFINDER PLUS SYSTEM</a> . . .</td>
											</tr>
										</table>
									</td>
								</tr>
								<!-- content -->
								<tr><td height="10" colspan="2"></td></tr>
								<tr>
									<td width="8"></td>
									<td width="270">
										<!-- CONTROL -->
										<table cellspacing="0" cellpadding="1" width="270" border="0" style="font-family:Arial; font-size:12px; color:black; vertical-align: top">
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Improves visualisation by clearing debris from the surgical site allowing accurate delivery of laser fibre energy.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Selective irrigation provides either a slow continuous flush, a precise flush bolus or 'fluttered' pulses.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Universal luer-lock fittings attach directly to any cystoscope or ureteroscope.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Surgeon controlled providing a precise and unobtrusive means of irrigation control.</td>
											</tr>
											<tr>
												<td width="18" style="vertical-align:top">
													<img src="http://www.femcare-nikomed.co.uk/images/eshot/arrow_white_new.jpg" height="12" width="12" border="0" style="border-style:none"/>
												</td>
												<td style="vertical-align:top">Bulb fits in scope hand, preserving dominant hand for instrumentation</td>
											</tr>
										</table>
									</td>
									<td height="160" width="160"><img src="http://www.femcare-nikomed.co.uk/images/eshot/Pathfinder.jpg" height="100" width="160" border="0" style="display:block; border-style:none"/></td>
								</tr>
								<!-- product link -->
								<tr>
									<td height="20" colspan="3" style="text-align:right;  font-size:10px">. . . <a href="http://www.femcare-nikomed.co.uk/admin/products/files/58023.pdf">Click Here To View Product Literature</a></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- Footer -->
		<tr>
			<td colspan="2" width="640" height="100" style="background-color:white;">
				<img src="http://www.femcare-nikomed.co.uk/images/eshot/bottom_banner.jpg" height="100" width="640" border="0" style="display:block; border-style:none" alt="email:www.femcare-nikomed.co.uk tel:+44(0)1794 525100"/>
			</td>
		</tr>
	</table>
</div>