<style>
		table{
				margin: 0;
				padding: 0;
				border-spacing: 0;
				font-family: Arial;
			}

			tr {
				border-spacing: 0;
			}

			td {
				border-spacing: 0;
				padding: 0;
			}
			.details {
				padding: 0;
				padding-left: 5px;
				font-size:12px;
			}
			.details li{
				list-style-type: none;
				height: 20px;
				padding-left: 20px;
				line-height: 22px;
			}
			.details li.li-background{
				background: url('img/arrow_blank.png') no-repeat center left;
				background-size: 10px;
			}
</style>

<table style="width:490px; height:237px">
<tr style="height:60px; width:490px;">
	<td>
		<table style="height:60px">
			<tr>
				<td><img src="img/power.jpg" width="150" height="60" /></td>
				<td style="font-size:12px; padding-left: 4px">KEY BENEFITS OF THE HOLMIUM LASER FIBERS</td>
			</tr>
		</table>
	</td>
</tr>
<tr style="width:490px; height:177px;">
	<td>
		<table style="width: 490px; height:177px">
			<tr>
				<td style="width:400px">
					<ul class="details">
						<li class="li-background">Power,</li>
						<li>Power,</li>
						<li>Safety and</li>
						<li>Control at your</li>
						<li>fingertips...</li>
					</ul>
				</td>
				<td style="width:80px; height:163px;">
					<img src="img/kidney.png" width="90" height="163" />
				</td>
			</tr>
			<tr style="font-size:12px; height:14px;">
				<td colspan=2 style="text-align:right"><a href="#">Click Here To View</a></td>
			</tr>
		</table>
	</td>
</tr>
</table>