
	<div style="width:100%; margin: 0; padding: 0; font-family: Arial">
	<table style="width:640px; height:1100px; margin: 0 auto; margin: 0;padding: 0;border-spacing: 0;border-collapse: 0;font-family: Arial;font-size: 12px;">
	<!-- Header -->
	<tr style="border-spacing: 0;border-collapse: 0;">
		<td style="height:100px; border-spacing: 0;border-collapse: 0;" colspan='2'>
			<!-- Background image - top banner -->
			<table style="width:640px; height:100px;background-color: #a0ad36; margin: 0;padding: 0;border-spacing: 0;border-collapse: 0;font-family: Arial;font-size: 12px;" background="http://s20.postimg.org/pq2h80fzh/top_new.png">
				<!-- TODO - see if can remove background image -->
				<tr style="width:640px; height:30px; border-spacing: 0;border-collapse: 0;">
					<td style="border-spacing: 0;border-collapse: 0;"> </td>
				</tr>
				<tr style="height:70px; border-spacing: 0;border-collapse: 0;">
					<td style="width:32px; border-spacing: 0;border-collapse: 0;"> </td>
					<!-- Title 30px from top. 608px wide. Font-size 36px -->
					<td style="width:608px;font-size:36px;color: white; border-spacing: 0;border-collapse: 0;">Femcare-Nikomed Urology Range...</td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- Body-->
	<tr>
				<!-- Left Section -->
				<td style="width:200px; height:907px; background-color:#1f497d; background-repeat:no-repeat; border-spacing: 0;border-collapse: 0;" background="http://s20.postimg.org/w51i4omp9/left_new.png">
					<table style="height:907px; width:200px; margin: 0;padding: 0;border-spacing: 0;border-collapse: 0;font-family: Arial;font-size: 12px;">
						<!-- Date -->
						<tr style="height:28px; border-spacing: 0;border-collapse: 0;">
							<td style="border-spacing: 0;border-collapse: 0;">
								<table style="margin: 0;padding: 0;border-spacing: 0;border-collapse: 0;font-family: Arial;font-size: 12px;">
									<tr style="border-spacing: 0;border-collapse: 0;">
										<td style="width:32px; border-spacing: 0;border-collapse: 0;"> </td>
										<td style="font-size:14px; border-spacing: 0;border-collapse: 0;">May 2013</td>
									</tr>
								</table>
						</tr>
						<!-- Content -->
						<tr style="border-spacing: 0;border-collapse: 0;">
							<td style="border-spacing: 0;border-collapse: 0;">
								<table  style="color:white; margin: 0;padding: 0;border-spacing: 0;border-collapse: 0;font-family: Arial;font-size: 12px;"><tr>
									<td style="width:12px; border-spacing: 0;border-collapse: 0;"> </td>
									<td><div style="height:18px; width: 188px; border-spacing: 0;border-collapse: 0;"> </div>
								<div style="height:849px;">
								<p><img src="http://s20.postimg.org/ulwx881d9/dear_customer.png" style="height:22px; width:130px" /></p>
								<p>The femcare-Nikomed urology products are designed with functionality efficency and convenience in mind...</p>
								<p>
									<table style="margin: 0;padding: 0;border-spacing: 0;border-collapse: 0;font-family: Arial;font-size: 12px;"><tr>
										<td style="border-spacing: 0;border-collapse: 0;"><img src="http://s20.postimg.org/qbmuqdlnt/arrow_blank.png" height="10"; width="10" /></td>
										<td style="border-spacing: 0;border-collapse: 0;"> </td>
										<td style="border-spacing: 0;border-collapse: 0;"><b style="color:#F25200; text-transform:uppercase">laser fibres:</b></td>
									</tr></table>
								</p>
								<p>Available as either reusable or single patient use, the Femcare-Nikomed Laser Fibres are fitted with a SMA-905 adaptor to fit most Laser Generatiors. With a range covering 200, 365, 550 and 1,000 microns for the disposable fibres and 200, 365, 550 microns for the resuable fibres, we have your needs covered. We also offer the Laser Goggles for added safety and convenience</p>
								<p>
									<table style="margin: 0;padding: 0;border-spacing: 0;border-collapse: 0;font-family: Arial;font-size: 12px;"><tr>
										<td style="border-spacing: 0;border-collapse: 0;"><img src="http://s20.postimg.org/qbmuqdlnt/arrow_blank.png" height="10"; width="10" /></td>
										<td style="border-spacing: 0;border-collapse: 0;"> </td>
										<td style="border-spacing: 0;border-collapse: 0;"><b style="color:#F25200; text-transform:uppercase">pathfinder plus:</b></td>
									</tr></table>
								</p>
								<p>The latest addition to our urology range is Pathfinder Plus, a surgeon controlled ureteroscopic irrigation system. An elegantly simple irrigation device that provides greater accuracy and enchanced visualisation during delicate endoscopic procedures.</p>
								<p>
									<table style="margin: 0;padding: 0;border-spacing: 0;border-collapse: 0;font-family: Arial;font-size: 12px;"><tr>
										<td style="border-spacing: 0;border-collapse: 0;"><img src="http://s20.postimg.org/qbmuqdlnt/arrow_blank.png" height="10"; width="10" /></td>
										<td style="border-spacing: 0;border-collapse: 0;"> </td>
										<td style="border-spacing: 0;border-collapse: 0;"><b style="color:#F25200; text-transform:uppercase">lawrence add-a-cath:</b></td>
									</tr></table>
								</p>
								<p>Finally, the tried and tested <br/> Add-a-Cath Suprapubic Catheter Introducer, is recognised as an effective method of bladder drainage hat causes fewer complications than urethral catheterisation.</p>
								<p>For further information on how Femcare-Nikomed can assist you with your future requirements or to arrange a sample/product demonstration please contact our Customer Service Team on the number below, quoting reference URL-032013:-</p>
								<p><img src="http://s20.postimg.org/d7cozy48d/manager.png" style="height:22px; width:130px" /></p>
								<p style="line-height:18px">Product Marketing Manager Femcare-Nikomed Ltd</p>
</div></td>
								</tr></table>
								

							</td>
						</tr>
					</table>
				</td>
				
					<!-- end of section -->
				</td>
			</tr>
	</table>
	</div>