<table style="width:640px;">		<tr style="width:640px; height: 100px; background-color: blue;">
			<!-- Spans two cells -->
			<td colspan="2" style="padding:0; width:640px">
				<!-- 641 - table expands for no reason -->
				<img src="http://s20.postimg.org/gpyc770tp/header.jpg" height=100; width=640;/>
			</td>
		</tr>
		<tr><td>a</td><td>b</td></tr></table>